.posts-table td, .posts-table th {
	border-bottom: 1px solid #b3b3b3;
	padding: 10px;
	text-align: left;
}

 .posts-table tr:nth-child(2) {
	border-top: 1px solid #b3b3b3;
}

.posts-table {
	border-collapse: collapse;
}

.posts-table td {
	max-width: 650px;
}

.posts {
	padding-bottom: 50px;
}

.detail-btn {	
	display: block;
	background: none;
	padding: 7px 12px;
	border: .5px solid  #4bb9d1;
	border-radius: 10%;
	text-decoration: none;
	color: #4bb9d1;
}

.detail-btn:hover {
	background-color: #4bb9d1;
	color: #fff;
}