* {
	box-sizing: border-box;
	font-size: 15px;
	font-family: Arial;
}

.user-table td, .user-table th {
	border-bottom: 1px solid #b3b3b3;
	padding: 10px;
	text-align: left;
}

tbody tr:first-child {
	border-top: 1px solid #b3b3b3;
}


.user-table {
	border-collapse: collapse;
}

.user-table a {	
	display: block;
	background: none;
	padding: 7px 12px;
	border: .5px solid  #4bb9d1;
	border-radius: 10%;
	text-decoration: none;
	color: #4bb9d1;
}

.user-table a:hover {
	background-color: #4bb9d1;
	color: #fff;
}

