.edit-btn  {	
	background: #ffc107;
	padding: 8px 12px;
	border: .5px solid  #fff;
	border-radius: 7%;
	color: black;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
}

.edit-btn:hover {
	background-color: #ba8b00;
}

.edit-form {
	margin-top: 10px;
	margin-left: 40px;
}

.edit-form h1 {
	font-size: 18px;
	margin-bottom: 10px;
}

.edit-form textarea {
	width: 205px;
	border-radius: 5%;
	margin: 10px 0;
}

#post-body {
	height: 100px;
}