*{
	margin:0;
	padding:0;
}

.header {
	background-color: #4bb9d1;
	height: 80px;
	color: #fff;
	padding-top: 10px;
	padding-left: 30px;
}

.header h1 {
	margin-left: 10px;
}

.header-btn {
	background: none;
	padding: 8px 12px;
	border: .5px solid  #fff;
	border-radius: 7%;
	color: #fff;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
}

.header-btn:hover {
	background: none;
	background-color: #fff;
	color: #4bb9d1;
	border: .5px solid #4bb9d1;
}


.header-buttons {
	display: flex;
}

.header-btn:last-child {
	margin-left: 10px;
}